<plist version="1.0">
    <dict>

      <key>General</key>
      <dict>
            <key>Hello</key>
            <string>Hello</string>

            <key>Cancel</key>
            <string>Cancel</string>
            
            <key>Ok</key>
            <string>OK</string>

            <key>PleaseWait</key>
            <string>Please wait ...</string>

            <key>ComingSoon</key>
            <string>Coming Soon</string>
            
            <key>LOGOUTMESSAGE</key>
            <string>Are you sure you would like to logout?</string>

            <key>Close</key>
            <string>Close</string>

            <key>Select</key>
            <string>Select</string>
            
            <key>languageChange</key>
            <string>The language is changed</string>
            
            <key>startOver</key>
            <string>Start Over</string>

            <key>GiveYourCarToTheExperts</key>
            <string>Give Your Car to the Experts</string>

            <key>Done</key>
            <string>Done</string>

            <key>OR</key>
            <string>OR</string>

            <key>MapView</key>
            <string>Can’t find location</string>

            <key>Yes</key>
            <string>Yes</string>

            <key>No</key>
            <string>No</string>

      </dict>

      <key>Splash</key>
      <dict>

            <key>SignUp</key>
            <string>Sign Up</string>

            <key>SignIn</key>
            <string>Sign In</string>
      </dict>

      <key>Errors</key>
      <dict>
        
            <key>UserNameEmailReq</key>
            <string>Please insert your user name or email.</string>

            <key>UserNameReq</key>
            <string>Please insert your user name.</string>

            <key>MobileReq</key>
            <string>Please insert your mobile number.</string>

            <key>EmailReq</key>
            <string>Please insert your email.</string>

            <key>PasswordReq</key>
            <string>Please insert your password.</string>

            <key>PasswordLength</key>
            <string>Password should be a minimum of 8 character(s) and number(s).</string>

            <key>NoInternetButton</key>
            <string>Ok</string>

            <key>NoGPSMsg</key>
            <string>Location Services are Disabled.</string>

            <key>NoGPSButton</key>
            <string>Enable</string>

            <key>YearReq</key>
            <string>Please insert your vehicle year.</string>
            
            <key>NetworkError</key>
            <string>Network Error, Please check your connection.</string>

            <key>NoInternetMsg</key>
            <string>No Internet Connection, Please check your connection.</string>

            <key>EmailNotValid</key>
            <string>Invalid Email.</string>

            <key>InvalidUsernameOrEmail</key>
            <string>Invalid user name or email, Please check and retry.</string>

            <key>FBToken</key>
            <string>Can't connect now, your connection is too slow.</string>

            <key>FBEmail</key>
            <string>Please add your email to continue your steps.</string>
      </dict>

      <key>Login</key>
      <dict>

            <key>Title</key>
            <string>Login</string>

            <key>UserName</key>
            <string>Email</string>

            <key>Password</key>
            <string>Password</string>

            <key>Login</key>
            <string>Login</string>

            <key>HaveAccount</key>
            <string>Don't have an account?</string>

            <key>SignUp</key>
            <string>Sign Up</string>

            <key>FB</key>
            <string>Login with Facebook.</string>

            <key>Login failed</key>
            <string>Login Failed.</string>

            <key>NoInternetLoginTitle</key>
            <string>Login Failed, Please check your connection.</string>

            <key>NoInternetLoginMsg</key>
            <string>No Data, Please check your connection.</string>

            <key>EmailUnauthorized</key>
            <string>Email is unauthorized.</string>
            
            <key>Email</key>
            <string>Email</string>

            <key>EmailPlaceHolder</key>
            <string>username@domain.com</string>

            <key>Cancel</key>
            <string>Cancel</string>

            <key>Send</key>
            <string>Send</string>

            <key>ResetPasswordLink</key>
            <string>Password reset email</string>

            <key>ForgetPassword</key>
            <string>Forgot Password</string>
            
            <key>EmailNotValid</key>
            <string>Invalid Email.</string>
            
            <key>driverPasswordErrorMessage</key>
            <string>Password must be minimum 6 characters.</string>
      </dict>

      <key>SignUp</key>
      <dict>
            <key>Title</key>
            <string>Sign Up</string>

            <key>UserName</key>
            <string>Username</string>

            <key>Password</key>
            <string>Password</string>

            <key>Email</key>
            <string>Email</string>

            <key>Mobile</key>
            <string>Mobile</string>

            <key>CreateAccount</key>
            <string>Create Account</string>

            <key>102</key>
            <string>Code</string>
            
            <key>EmailRequired</key>
            <string>Email is Required.</string>

            <key>CountryCodeRequired</key>
            <string>Country Code is Required.</string>

            <key>PasswordLength</key>
            <string>Password must be a minimum of 8 character(s) and number(s). </string>

            <key>UsernameLength</key>
            <string>Username must be a minimum of 5 characters.</string>

            <key>MobileNotValid</key>
            <string>Invalid Phone Number.</string>

            <key>CountryCodeNotValid</key>
            <string>Invalid Country Code.</string>

            <key>SignupFailed</key>
            <string>Sign up failed, Please try again.</string>

            <key>SignupFacebook</key>
            <string>Sign up with Facebook</string>
            
            <key>CreateFacebookAccount</key>
            <string>Create Account</string>

            <key>AleadyHaveAccount</key>
            <string>Already have an Account?</string>

            <key>IAcceptTheTermsAndConditions</key>
            <string>I accept the terms and conditions.</string>

            <key>PlsAcceptTheTermsAndConditionsInOrderToSignUp</key>
            <string>Please accept the terms and conditions in order to proceed.</string>

            <key>Scan</key>
            <string>Scan</string>

            <key>FirstName</key>
            <string>First name</string>

            <key>LastName</key>
            <string>Last name</string>

            <key>FirstNameIsRequired</key>
            <string>Please insert your first name.</string>

            <key>LastNameIsRequired</key>
            <string>Please insert your last name.</string>

            <key>PhoneNumberMaxNumber</key>
            <string>Phone Number must be 9 to 20 numbers.</string>
      </dict>

      <key>Payment</key>
      <dict>   

            <key>Title</key>
            <string>Payment</string>

            <key>Name</key>
            <string>Name</string>

            <key>CardHolder</key>
            <string>Card Holder</string>

            <key>CardNumber</key>
            <string>Card Number</string>

            <key>ExpirationDate</key>
            <string>Expiration Date</string>

            <key>ExpiryDate</key>
            <string>Expiration Date</string>

            <key>MM</key>
            <string>mm</string>

            <key>YY</key>
            <string>yy</string>

            <key>CvvCode</key>
            <string>CVV</string>

            <key>XXX</key>
            <string>***</string>

            <key>Proceed</key>
            <string>Submit</string>

            <key>CardHolderReq</key>
            <string>Card Holder Name Is Required.</string>

            <key>CardNumberReq</key>
            <string>Card Number Is Required.</string>

            <key>CvvReq</key>
            <string>CVV Code Is Required.</string>

            <key>CvvDigitsReq</key>
            <string>CVV code accepts only 3 or 4 digits.</string>

            <key>CardNumberDigitsReq</key>
            <string>Card number accepts only 16 digits.</string>

            <key>MonthReq</key>
            <string>Month is required.</string>
 
            <key>YearReq</key>
            <string>Year is required.</string>

            <key>CardDetails</key>
            <string>Card Details</string> 
               
            <key>CardNumberFormate</key>
            <string>.... .... .... 1234</string> 

            <key>MonthNotValid</key>
            <string>Invalid Month</string>

            <key>PaymentFailed</key>
            <string>Payment Failed, Please check your card details.</string>    
            
            <key>skip</key>
            <string>Skip</string> 
      </dict>

      <key>Car</key>
      <dict>    
            <key>Title</key>
            <string>My Cars</string>

            <key>CarDetails</key>
            <string>Car Details</string>

            <key>Brand</key>
            <string>Brand</string>

            <key>Model</key>
            <string>Model</string>

            <key>Year</key>
            <string>Year</string>

            <key>Confirm</key>
            <string>Confirm</string>

            <key>SelectBrand</key>
            <string>Select Brand</string>

            <key>SelectModel</key>
            <string>Select Model</string>

            <key>SelectMM</key>
            <string>Select Month</string>

            <key>SelectYY</key>
            <string>Select Year</string>

            <key>YourCarDetails</key>
            <string>Your Car Details.</string>

            <key>ModelRequired</key>
            <string>Model Is Required.</string>

            <key>BrandRequired</key>
            <string>Brand Is Required.</string>

            <key>ShouldSelectBrandFirst</key>
            <string>Please select brand first.</string>

            <key>SelectCarFailed</key>
            <string>Car selection failed, please try again.</string>

            <key>DeleteThisCar</key>
            <string>Are you sure you want to delete this car?</string>

            <key>DeleteLastCar</key>
            <string>You should have one car at least.</string>

            <key>MyCars</key>
            <string>My Cars</string>

            <key>Color</key>
            <string>Color</string>

            <key>CarBrand</key>
            <string>Brand</string>

            <key>CarModel</key>
            <string>Model</string>

            <key>CarYear</key>
            <string>Year</string>

            <key>CarColor</key>
            <string>Color</string>

            <key>Color</key>
            <string>Color</string>

            <key>ColorRequired</key>
            <string>Please choose color.</string>

            <key>SelectYearFirst</key>
            <string>Please select year first.</string>
      </dict>

      <key>DriverMapView</key>
      <dict>    
          <key>requestNotificationTitle</key>
          <string>New Request</string>
          
          <key>requestNotificationsubTitle</key>
          <string>You received a request.</string>
          
            <key>CurrentLocation</key>
            <string>Current Location</string>
            
            <key>RequestWasCancel</key>
            <string>The request was canceled.</string>

            <key>Reach</key>
            <string>Arrived</string>

            <key>PleaseWaitUntilDetectLocation</key>
            <string>Please wait, we are finding your location.</string>

            <key>RTALocation</key>
            <string>RTA Stations</string>

            <key>SelectYourRTALocation</key>
            <string>Select Your RTA Station.</string>

            <key>PickUp</key>
            <string>Picked up</string>

            <key>DropOff</key>
            <string>Dropped Off</string>

            <key>RenewalPaperPopupTitle</key>
            <string>Renewal Requirements</string>

            <key>PassFailurePopupTitle</key>
            <string>Has the car passed or failed? Why?</string>

            <key>FailureReasonReuired</key>
            <string>Check the Status</string>

            <key>Pass</key>
            <string>Pass</string>

            <key>Failure</key>
            <string>Failed</string>

            <key>RenewalPaperPopupTitle2</key>
            <string>Check the following before loading:</string>

            <key>RenewalPaperPopupSubmit</key>
            <string>Confirm</string>

            <key>MoreDetails</key>
            <string>More Details</string>
            
            <key>ArrivedAt</key>
            <string>Pick up from</string>
            
            <key>CallCustomer</key>
            <string>Call Customer</string>
            
            <key>RenewPprInsurance</key>
            <string>Insurance</string>
            
            <key>RenewPprTrafficFines</key>
            <string>Traffic fines</string>
            
            <key>RenewPprId</key>
            <string>Id copy</string>
            
            <key>RenewPprTyre</key>
            <string>Tyre condition</string>
            
            <key>RenewPprRTAFees</key>
            <string>RTA Fees</string>
            
            <key>FailureMechanical</key>
            <string>Mechanical</string>
            
            <key>FailureTinting</key>
            <string>Tinting</string>
            
            <key>FailureStickers</key>
            <string>Stickers</string>
            
            <key>FailureOthers</key>
            <string>Others</string>
            
            <key>RenewalFailure01</key>
            <string>Oil leaks</string>
            
            <key>RenewalFailure02</key>
            <string>Brakes Condition</string>
            
            <key>RenewalFailure03</key>
            <string>Tyres</string>
            
            <key>RenewalFailure04</key>
            <string>Excessive Emissions</string>
            
            <key>RenewalFailure05</key>
            <string>Headlights.</string>
            
            <key>RenewalFailure06</key>
            <string>Tail lights.</string>
            
            <key>RenewalFailure07</key>
            <string>Accident chassis damage.</string>
            
            <key>RenewalFailure08</key>
            <string>Non matching mileage and chassis numbers.</string>
            
            <key>RenewalFailure09</key>
            <string>Fuel leaks.</string>
            
            <key>RenewalFailure10</key>
            <string>Handbrake failure.</string>
            
            <key>RenewalFailure11</key>
            <string>Misc. mechanical failures.</string>
            
            <key>RenewalFailure12</key>
            <string>Excessive tinting.</string>
            
            <key>RenewalFailure13</key>
            <string>Body stickers.</string>
            
            <key>RenewalFailure14</key>
            <string>Modifications to the engine or chassis.</string>
            
            <key>RenewalFailure15</key>
            <string>Loud vehicle exhaust.</string>
            
            <key>RenewalFailure16</key>
            <string>Broken glass.</string>
            
            <key>scheduleTime</key>
            <string>Your Schedule time is </string>

            <key>Yes</key>
            <string>Yes</string>

            <key>No</key>
            <string>No</string>
      </dict>

      <key>MapView</key>
      <dict>    
          <key>serarchResult</key>
          <string>Not found, Try again.</string>
          
          <key>missingAddressMsg</key>
          <string>Not found, Try again.</string>
          
            <key>SubjectOfShare</key>
            <string>Pick My Car give it to the experts.</string>
            
            <key>FavouriteLocation</key>
            <string>Your favorite locations.</string>
            
            <key>Title</key>
            <string>Select the pickup location</string>

            <key>GoToPin</key>
            <string>Search or choose from your favorite locations.</string>

            <key>SelectService</key>
            <string>Choose Your Service</string>

            <key>Search</key>
            <string>Search or choose from your favorite locations.</string>

            <key>StartTrip</key>
            <string>Your car is on the way.</string>

            <key>EndTrip</key>
            <string>End Trip</string>

            <key>DriverHasStarted</key>
            <string>Your Order Details</string>

            <key>Email</key>
            <string>Email</string>

            <key>Mobile</key>
            <string>Mobile</string>

            <key>AgentName</key>
            <string>PMC Agent</string>

            <key>Name</key>
            <string>Name</string>

            <key>Address</key>
            <string>Address</string>

            <key>Address</key>
            <string>Address</string>

            <key>AreYouSureToUseService?</key>
            <string>Confirm Selected Service</string>

            <key>DoYouWantPickLocation?</key>
            <string>Confirm Selected Location</string>

            <key>TripEndedMsg</key>
            <string>Drop off done at (L). And your car photos are on the way.</string>

            <key>AllowPermissionForApp</key>
            <string>Allow Location Services</string>

            <key>WhichCar?</key>
            <string>Which Car?</string>  

            <key>Continue</key>
            <string>Continue</string>   

            <key>AddMoreCars?</key>
            <string>Add More Cars?</string>   

            <key>SelectCar</key>
            <string>Select your car</string>  

	<!-- When the two location has no route between them or there is sort of barrier -->
            <key>CanNotDrawRoute</key>
            <string>Route is not supported, please check locations.</string> 

            <key>SelectServiceFirst</key>
            <string>Select service</string> 

            <key>SelectCarFirst</key>
            <string>Please select a car</string>   

            <key>Specialists</key>
            <string>Specialists</string>

            <key>Area</key>
            <string>Pick up Location</string>

            <key>DropOffLocation</key>
            <string>Drop off Location</string>

            <key>Confirm1Location</key>
            <string>Please Confirm Location(s)</string>

            <key>SetLocation</key>
            <string>Confirm Return Location</string>

            <key>Confirm2Location</key>
            <string>Please Confirm Location(s)</string>
            
            <key>Next</key>
            <string>Next</string>

            <key>RouteDirectionMap</key>
            <string>Your Car Journey</string>   

            <key>SelectSpecialistFirst</key>
            <string>Select a Specialist</string>

            <key>SelectRTAFirst</key>
            <string>Select an RTA station</string>

            <key>Disclaimer</key>
            <string>Disclaimer</string>

            <key>LetUsHelpYou</key>
            <string>Let us Help You</string>

            <key>YouHaveArrivedAlready</key>
            <string>You have already Arrived.</string>

            <key>YouAreNMinutesAwayToReachToLocation</key>
            <string>You are N Minutes away.</string>

            <key>YouAreStartedSecondTripToLocatoin</key>
            <string>You have started the second trip.</string>

            <key>ServiceType</key>
            <string>Service Type</string>

            <key>ContactAgent</key>
            <string>Contact Agent</string>

            <key>CarDetails</key>
            <string>Car Details</string>

            <key>StartFirstTrip</key>
            <string>Go to next destination</string>

            <key>StartSecondTrip</key>
            <string>Go to Drop off location</string>

            <key>YouHaveStartedYourTrip</key>
            <string>You have started the trip.</string>

            <key>YouAreEndedTheTrip</key>
            <string>You have ended The Trip.</string>

            <key>OrderIsPaid</key>
            <string>Payment Successful</string>

            <key>PleaseWaitDriver</key>
            <string>Finding your pick up.</string>

            <key>YouAre</key>
            <string>You are</string>

            <key>MinutesAway</key>
            <string>minutes away</string>

            <key>PleaseWaitYourOrderIsUponRequest</key>
            <string>Please wait, your order is being processed.</string>
            
            <key>ReferenceNumber</key>
            <string>Reference #</string>
            
            <key>driverName</key>
            <string>Driver Name</string>
            
            <key>driverNumber</key>
            <string>Driver Number</string> 
            
            <key>PhoneNumber</key>
            <string>Phone Number</string>

            <key>NetworkFailurePleaseTryAgainorStartOver</key>
            <string>There seems to be a network problem, Please try again.</string>

            <key>FinalDestination</key>
            <string>Final Destination</string>

            <key>SelectCTitle</key>
            <string>Select a location to return your car.</string>

            <key>SelectRepairShop</key>
            <string>Select Drop off Location</string>

            <key>DropOffRTABar</key>
            <string>RTA Station</string>

            <key>SpectialistMapBtn</key>
            <string>Other location</string>

            <key>PicturesWillEmailed</key>
            <string>Your car pictures will be emailed shortly.</string>

            <key>PMCNumber</key>
            <string>PMC agent number</string>

            <key>OrderDate</key>
            <string>Date</string>

            <key>AgentInformationTitle</key>
            <string>PMC agent Information</string>

            <key>AgentFirstName</key>
            <string>Name</string>

            <key>AgentLastName</key>
            <string>Last Name</string> 
            
            <key>AgentEmail</key>
            <string>Email</string>

            <key>AgentMobile</key>
            <string>Mobile</string>    

            <key>QuestionDescriptionTitle</key>
            <string>Question Description</string>

            <key>InsideTripDestination</key>
            <string>Distance</string>

            <key>InsideTripReachDistance</key>
            <string>Time remaining</string>

            <key>InsideTripPhonePopMess</key>
            <string>Would you like to call the Driver?</string>

            <key>TaxiTitle</key>
            <string>Taxi information</string>

            <key>TaxiName</key>
            <string>Taxi Name</string>

            <key>TaxiMobile</key>
            <string>Taxi Mobile</string>

            <key>TripState</key>
            <string>Your pick up is on the way.</string>  

            <key>InsideTrip</key>
            <string>Inside Trip</string> 

            <key>SearchByLocation</key>
            <string>Search By Location</string>        
            
            <key>orderId</key>
            <string>Order ID</string>    

            <key>edit</key>
            <string>Edit</string>                
      </dict>

      <key>DriverRequestService</key>
      <dict>
            <key>Title</key>
            <string>Order Details</string>

            <key>YourOrderDetails</key>
            <string>Order Details</string>
            
            <key>Username</key>
            <string>Username</string>
            
            <key>ServiceName</key>
            <string>Service type</string>

            <key>Address</key>
            <string>Address</string>

            <key>Accept</key>
            <string>Accept</string>

            <key>Dismiss</key>
            <string>Dismiss</string>

            <key>TripStarted</key>
            <string>Head to your destination.</string>

            <key>EndTripNotificationForDriver</key>
            <string>Please end the trip before logging out.</string>

            <key>AgentName</key>
            <string>Agent Name</string>
            
            <key>orderId</key>
            <string>Order ID</string>
            
            <key>CarDetails</key>
            <string>Car Details</string>

            <key>AgentNumber</key>
            <string>Agent number</string>

            <key>OrderDate</key>
            <string>Date</string>
            
            <key>CustomerName</key>
            <string>Customer Name</string>
            
            <key>CustomerNumber</key>
            <string>Customer No</string>
            
            <key>garageName</key>
            <string>Garage Name</string>
            
            <key>garageMobile</key>
            <string>Garage No</string>

            <key>CallCenterNumber</key>
            <string>Call Center Number</string>
      </dict>

      <key>Menu</key>
      <dict>

            <key>LOGOUT</key>
            <string>Log out</string>

            <key>Offline</key>
            <string>Not Available</string>

            <key>Online</key>
            <string>Available</string>

            <key>Profile</key>
            <string>My Profile</string>

            <key>Car</key>
            <string>My Cars</string>
            
            <key>Payment</key>
            <string>Credit Cards</string>

            <key>AboutUs</key>
            <string>About us</string>

            <key>Share</key>
            <string>Share with Friends</string>

            <key>Location</key>
            <string>Favorite Locations</string>

            <key>Requests</key>
            <string>History</string>
            
            <key>Advertisements</key>
           <string>Advertisements</string>
           
           <key>upcomingRequests</key>
           <string>Upcoming requests</string>
      </dict>

      <key>SelectSpecialist</key>
      <dict>
            <key>CanNotFindAddress</key>
            <string>Specialist address is not found.</string>
      </dict>

      <key>CheckOut</key>
      <dict>
            <key>Title</key>
            <string>Check Out</string>
            
            <key>AED</key>
            <string>AED</string>

            <key>Total</key>
            <string>Total</string>
            
            <key>TryAgain</key>
            <string>Try again</string>

            <key>GoToHome</key>
            <string>Start Over</string>

            <key>RefNumber</key>
            <string>Reference</string>

            <key>checkOutTyreBrandModel</key>
            <string>Brand</string>

            <key>checkOutTyreQuantity</key>
            <string>Quantity</string>

            <key>checkOutTyreSubscriberName</key>
            <string>Shop Name</string>

            <key>checkOutTyreUserName</key>
            <string>Name</string>
            
            <key>FrontTyre</key>
            <string>Front Tyre(s)</string>

            <key>RearTyre</key>
            <string>Rear Tyre(s)</string>

            <key>PleaseWaitWeAreFindingYourPickUp</key>
            <string>Please wait , We are finding your pick up.</string>
            
            <key>RelaxWeFinding</key>
            <string>Relax, We are finding your pick up.</string>   
            
            <key>orderExpire</key>
            <string>The order was expired.</string>       
      </dict>

      <key>Photo</key>
      <dict>

            <key>Title</key>
            <string>Take photos of the car after offloading.</string>
            
            <key>AddPhotoFirst</key>
            <string>Add a photo first</string>

            <key>SendPhoto</key>
            <string>Send photo(s)</string>

            <key>UploadUpTo5Images</key>
            <string>Upload up To 5 photos.</string>            
      </dict>
        
      <key>WaitPayment</key>
      <dict>

            <key>Message</key>
            <string>Rest Assured, Your pick up is on the way.</string>

            <key>Status</key>
            <string>Will be there in </string>
            
            <key>WaitForAgent</key>
            <string>Search for more drivers</string>

            <key>CancelOrder</key>
            <string>Cancel the order</string>  

            <key>YourOrderIsCancelledSuccessfully</key>
            <string>Your order has been canceled successfully.</string>  

            <key>CallAgent</key>
            <string>Call PMC</string>
            
            <key>tryAgain</key>
            <string>Try Again</string>
      </dict>

      <key>Tyres</key>
      <dict>

            <key>SelectYourTyre</key>
            <string>Select Your Tyre Size</string>
            
            <key>TyreSpecificationsTitle</key>
            <string>Tyre Size</string>

            <key>TyreSpecificationsFrontTyre</key>
            <string>Front Tyres</string>

            <key>TyreSpecificationsRearTyre</key>
            <string>Rear Tyres</string>

            <key>TyreSpecificationsWidth</key>
            <string>Width</string>

            <key>TyreSpecificationsProfile</key>
            <string>Profile</string>

            <key>TyreSpecificationsDiameter</key>
            <string>Diameter</string>    

            <key>TyreSpecificationsQuantity</key>
            <string>Quantity</string>   

            <key>TyreSpecificationsSubmit</key>
            <string>Submit</string>  

            <key>TyreShop</key>
            <string>Tyre Shop</string> 

            <key>Van</key>
            <string>Fit at home</string> 

            <key>TyreConfirmation</key>
            <string>Double check your tyre size</string> 

            <key>DiameterIsRequired</key>
            <string>Diameter is required</string> 

            <key>QuantityIsRequired</key>
            <string>Quantity is required</string> 

            <key>WidthIsRequired</key>
            <string>Width is required</string>

            <key>ProfileIsRequired</key>
            <string>Profile is required</string> 

            <key>DoNotPanicHereIsSomeHints</key>
            <string>Confused? Here is some hints</string> 

            <key>TyreSpecifications</key>
            <string>Tyre Size</string> 

            <key>Wait60MinutesPlease</key>
            <string>We will get you the best deals in 60 minutes, Hang on!</string>

            <key>TyreConfirmationFrontTyre</key>
            <string>Front Tyre</string>

            <key>TyreConfirmationRearTyre</key>
            <string>Rear Tyre</string>

            <key>TyreConfirmationFrontRearValidation</key>
            <string>Front / Rear are required</string>

            <key>ProductionDate</key>
            <string>Production date</string>

            <key>BackToHome</key>
            <string>Back to home</string>

            <key>paymentSummaryBtn</key>
            <string>Finish</string>
            
            <key>RemaingTime</key>
            <string>Remaining Time</string>
            
            <key>Minute</key>
            <string>Minute(s)</string>
      </dict>        

      <key>Offer</key>
      <dict>

            <key>TyreOfferDetails</key>
            <string>Details</string>
             
            <key>TyreOfferAccept</key>
            <string>Accept</string>

            <key>OffersTitle</key>
            <string>Offer(s)</string>        

            <key>OffersDetailsTitle</key>
            <string>Offer Details</string>

            <key>Option</key>
            <string>Option</string>

            <key>YouHaveRecieved</key>
            <string>You have received</string>

            <key>offers</key>
            <string>Offers</string>

            <key>TyreOfferCancel</key>
            <string>Cancel</string>

            <key>PaymentSummary</key>
            <string>Payment Summary</string>
            
            <key>High</key>
            <string>High end</string>
            
            <key>Medium</key>
            <string>Mainstream</string>
            
            <key>Low</key>
            <string>Value</string>
            
            <key>Model</key>
            <string>Model</string>
            
            <key>Price</key>
            <string>Price</string>
            
            <key>ProductionDate</key>
            <string>Production Date</string>
            
            <key>DeliveryTime</key>
            <string>Delivery Time</string>
      </dict>

      <key>Profile</key>
      <dict>

            <key>Title</key>
            <string>Your profile</string>
             
            <key>FirstName</key>
            <string>First Name</string>
            
            <key>LastName</key>
            <string>Last Name</string>
            
            <key>Name</key>
            <string>Name</string>
            
            <key>Email</key>
            <string>Email</string>        

            <key>Mobile</key>
            <string>Mobile</string>
            
            <key>CountryCode</key>
            <string>Country Code</string>
            
            <key>Password</key>
            <string>Password</string>
            
            <key>EnterNewPassword</key>
            <string>Enter New Password</string>
            
            <key>Edit</key>
            <string>Edit</string>
            
            <key>Save</key>
            <string>Save</string>

            <key>EditInternetErrorMsg</key>
            <string>Cannot save your changes, Please check your internet connection.</string>
            
            <key>LocationNotDetect</key>
            <string>Please wait, we are finding your location.</string>
      </dict>

      <key>creditCard</key>
      <dict>    
            <key>ListOfCreditCards</key>
            <string>Saved credit cards</string>

            <key>SetDefault</key>
            <string>Set Default</string>

            <key>Payment</key>
            <string>Payment</string>

            <key>AreYouSureToDeleteCreditCard?</key>
            <string>Are you sure you want to delete this credit card?</string>

            <key>YouShouldHaveOneCreditCardAtLeast</key>
            <string>You should have at least one credit card.</string>
            
            <key>NotAllowToDeleteDefaultCreditCard</key>
            <string>Please set a different primary credit card.</string>
      </dict>

      <key>DriverRating</key>
      <dict>
            <key>Title</key>
            <string>Rate the driver</string>     

            <key>Submit</key>
            <string>Submit</string>

            <key>Title2</key>
            <string>This rating helps improve our service.</string>

            <key>Payments</key>
            <string>Payments</string>

            <key>YourComment</key>
            <string>Your comment</string>

            <key>YouShouldRateDriver</key>
            <string>Please rate the driver.</string>
            
            <key>driverName</key>
            <string>Driver Name</string>
            
            <key>driverNumber</key>
            <string>Driver Number</string> 
      </dict>

      <key>SubscriberRating</key>
      <dict>
            <key>Title</key>
            <string>Rate the garage</string>
            
            <key>Title2</key>
            <string>How was your experience with</string>
             
            <key>SubscriberName</key>
            <string>Garage name</string>       

            <key>Submit</key>
            <string>Submit</string>

            <key>ClickHere</key>
            <string>Click Here</string>

            <key>Close</key>
            <string>Close</string>
            
            <key>rateRequiredMsg</key>
            <string>Please rate the garage.</string>
            
      </dict>

      <key>Location</key>
      <dict>

            <key>Title</key>
            <string>Favourite Locations</string>
            
            <key>Title2</key>
            <string>Too many favourites, Search above.</string>

            <key>ChooseFavLoc</key>
            <string>Set your favourite locations.</string>       
            
      </dict>

      <key>Requests</key>
      <dict>
            <key>TitleofunRate</key>
            <string>Rate Garages</string>
            
            <key>Title</key>
            <string>History</string>
            
            <key>Title2</key>
            <string>Order Details</string>

            <key>RateMe</key>
            <string>Rate The Garage</string>   

            <key>RequestDetails</key>
            <string>Order Details</string>   
            
            <key>RefNo</key>
            <string>Order</string>
            
            <key>Service</key>
            <string>Service</string>
            
            <key>Date</key>
            <string>Date</string>
            
            <key>LocationA</key>
            <string>Pick up Location</string>
            
            <key>LocationB</key>
            <string>Drop off Location</string>
            
            <key>LocationC</key>
            <string>Return Location</string>
            
            <key>CarModel</key>
            <string>Car Model</string>
            
            <key>Amount</key>
            <string>Payment</string>
            
            <key>Status</key>
            <string>Status</string>
            
            <key>AED</key>
            <string>AED</string>

            <key>Revenue</key>
            <string>Revenue</string>
            
            <key>runningTime</key>
            <string>Running Time</string>
            
            <key>PaymentMethod</key>
            <string>Payment Method</string>
      </dict>

      <key>Advertisement</key>
      <dict>
            <key>title</key>
            <string>Advertisements</string>

            <key>moreBtn</key>
            <string>More</string>

            <key>Brand</key>
            <string>Brand</string>

            <key>Close</key>
            <string>Close</string>

            <key>AdvertisementDetail</key>
            <string>Advertisement Details</string>

            <key>AdvertisementTitle</key>
            <string>title</string>
      </dict>

      <key>paymentMethod</key>
      <dict>
            <key>title</key>
            <string>Payment Method</string>

            <key>totalAmount</key>
            <string>The total amount is</string>

            <key>paymentMethod</key>
            <string>Payment method</string>

            <key>Submit</key>
            <string>Submit</string>

            <key>addCreditCardMessg</key>
            <string>Please, add the credit card details.</string>

            <key>PromoCode</key>
            <string>Promo Code</string>

            <key>Continue</key>
            <string>Continue</string>
      </dict>
      
      <key>DriverCashPaymentConfirmation</key>
      <dict>
            <key>AmountLabel</key>
            <string>Please, Collect your cash payment of</string>

            <key>Reason</key>
            <string>Reason</string>

            <key>Collected</key>
            <string>Collected</string>

            <key>NotPaid</key>
            <string>NotPaid</string>

            <key>Currency</key>
            <string>AED</string>
            
            <key>CashZeroAmountMessage</key>
            <string>This order is free, Please accept the order and your revenue will be added to your balance.</string>
            
            <key>Accept</key>
            <string>Accept</string>
                  
      </dict>
        
      <key>RequestOptionPage</key>
      <dict>
            <key>PickupNow</key>
            <string>Pick up Now</string>

            <key>bookaPickup</key>
            <string>Book a Pickup</string>

            <key>yes</key>
            <string>Continue</string>

            <key>No</key>
            <string>No</string>

            <key>validationDateMsg</key>
            <string>you should Select date</string>

            <key>validationTimeMsg</key>
            <string>you should Select time</string>

            <key>validationErrorTimeMsg</key>
            <string>Not valid time</string>
            
            <key>Submit</key>
            <string>Submit</string>

            <key>PickTime</key>
            <string>Pick a time</string>  
            
            <key>PickDate</key>
            <string>Pick a date</string>
         
      </dict>

    </dict>
    
</plist>
